h1 {
    text-align: center;
    color: rgb(255, 208, 0);
}
h2{
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    text-align: right;
}

table {
    width: 100%;
    border: 3px solid rgb(12, 10, 10);
   
    text-align: left;
    margin: 50px 0;
}

table th {
    background-color: gainsboro;
}

table th, td {
    padding: 10px;
}

form {
    text-align: center;
}

.error {
    color:red;
    font-weight: bold;
}

.btn {
    display: inline-block;
    background-color: rgb(12, 17, 12);
    color: white;
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 25px;
}
.btn1{
    background-color: rgb(12, 17, 12);
    color: white;
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 25px;
    display: flex;


}


.btn-danger {
    background-color:rgb(34, 68, 178);
}
